@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}

.menu{
    background-color: rgb(69, 133, 236);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    height: 200px;
}

.navbar{
    display: flex;
    text-align: center;
    align-items: center;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li{
    margin-right: 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white !important;
}

.navbar ul li a:hover{
    color: black !important;
}

.menu .logo{
    height: auto;
    font-weight: bolder;
    font-size:xx-large;
    color:black !important;
}

.logo span{
    color: white !important;
}

.dropdown_menu{
    display: none;
    z-index: 1;
}

.navbar ul li:hover .dropdown_menu{
    display: block;
    background-color: rgb(69, 133, 236);
    position: absolute;
    top: 100%;
}

.navbar ul li:hover .dropdown_menu ul{
    display: block;
    margin: 10px;
}

.navbar ul li:hover .dropdown_menu ul li{
    width: 120px;
    padding: 15px;
}

.navbar #subscription{
    display: flex;
    margin-left: 80px;
}

#subscription a{
    text-decoration: none;
    font-weight: 5px;
    color: black !important;
    align-items: center;
    justify-content: center;
    background-color: rgb(203, 218, 244);
    padding: 15px;
}


#myForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}


#myForm h1, h2{
    font-size: 24px;
    margin-bottom: 20px;
}

#myForm span{
    color: rgb(69, 133, 236);
}

#myForm label {
    display: block;
    font-weight: bold;
}


#myForm input[type="text"],
#myForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #4b6a9f;
    border-radius: 5px;
}

#myForm button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#myForm .cancel {
    background-color: #ccc;
    color: white;
    margin-left: 10px;
}

#subscription .open-button {
    cursor: pointer;
    transition: transform 0.14s ease;

}


#subscription .open-button:hover {
    transform: translateY(-5px) scale(1.05);
}

/* Style pour les boutons de langue */
#language-buttons {
    width: 120px; 
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    appearance: none;
    margin-left: 30px;
}

#language-buttons option {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
}

#language-buttons span {
    margin-right: 5px;
}

#language-buttons img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/*Search section*/
#search-section{
    display: flex;
    justify-content: center;
}

#search-section input[type=search]{
    border-radius: 15px;
    padding-left: 30px;
    height: 40px;
    width: 650px;
    border-color:rgb(203, 218, 244);
    margin-top: 10px;
}

embed{
    height: 500px;
    width: 100%;
}

/*post section */
.post{
    display: flex;
}

.post-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-content{
    margin: 30px;
}

.post-content img{
    border-radius: 7px;
    width: 370px;
    background-color:gray;
}


#copyright{
    background-color: rgb(69, 133, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

#copyright p{
    color: black !important;
    font-size: large;
}

#copyright p a{
    color: white !important;
    text-decoration: none;
}
